{% extends "layout.html" %} 

{% block title %} Dashboard {% endblock %} 

{% block main %} 
<main class="container p-2">
    <h1 class="container">Dashboard</h1>

    {% for card in cards %} 
    <!-- TODO: How to show one card at a time, show remaining cards after clicking answer? 
      all while ensuring speed and low memory usage? For example, what if someone had 10k 
      cards and wanted to review them all?  Pull a handful into local storage and make 
      subsequent pulls to db after that? -->

    <!-- TODO: build out design for dashboard....main content show current card to be reviewed
    and left sidebar shows Decks in alpha order, tags in alpha order.  Sidebar minimizes 
    in smaller viewports.  Sidebar can also have the "add a card" button.   -->

    <div class="card" style="width: 50%;">
        <div class="card-header">
            <span class="badge badge-pill badge-secondary">{{card.card_tags}}</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ card.card_title }}</h5>
          <p class="card-text">{{ card.card_question }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item list-group-item-action list-group-item-success">Easy</li>
          <li class="list-group-item list-group-item-action list-group-item-warning">So-so</li>
          <li class="list-group-item list-group-item-action list-group-item-danger">Hard</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Archive Card</a>
          <a href="#" class="card-link">Delete Card</a>
        </div>
      </div>
    {% endfor %}

  </main>
{% endblock %} 