{% extends "layout.html" %}

{% block add_head %}
    <link rel="stylesheet" href="../static/test4.css">
{% endblock add_head %}

{% block main %}
    <div class="testheader">
        <img src="static/default.svg">
    </div>
    <div class="container">
        <div class="sidebar">Sidebar placeholder</div>
        <div class="content">
            <p>Name: {{ current_user.name }}</p>
            <p>Username: {{ current_user.username }}</p>
            <p>Change password: 'insert password change field'</p>
        </div>
    </div>
{% endblock %} 
