{% extends "layout.html" %} 

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h3>Create your account</h3> 
    <!-- <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input autcomplete="off" name="confirmation" placeholder="Type Password again" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form> -->
    
    <form method="POST" action="/register">
        {{ form.hidden_tag() }}
        {{ form.email(size=20, placeholder="Type your email") }} <br>
        {{ form.username(size=20, placeholder="Choose a username") }} <br>
        {{ form.password(size=20, placeholder="Password") }} <br> 
        {{ form.confpass(size=20, placeholder="Confirm password") }}
        <input type="submit" value="Submit" class="btn btn-secondary">
    </form>
    
    {% if form.username.errors or form.password.errors %}
        <ul class="errors">
        {% for error in form.username.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        {% for error in form.password.errors %}
        <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <a href="/login">Sign in instead</a>
        
{% endblock %}
